<div class="background">
  <div class = "container">
    <div class = "pt-5">
      <h1><i class="fas fa-image"></i>投稿詳細画面</h1>
      <div class = "row">
        <div class="col-lg-4">
          <div class = "text-center">
            <div>
              <p>
                <%= link_to member_path(@post.member.id) do %>
                  <% if @post.member.profile_image.attached? %>
                    <%= image_tag @post.member.profile_image, size: "100x100" %>
                  <% else %>
                    <%= image_tag asset_path("no_image.jpg"), size: "200x200" %>
                  <% end %>
                <% end %>
              </p>
              <p><i class="fas fa-user"></i><%= @post.member.account_name %></p>
            </div>
            <div>
              <div><i class="fas fa-paper-plane"></i>この投稿に返信する</div>
                <% if member_signed_in? %>
                  <%= form_with model: [@post, @reply] do |f| %>
                    <p><%= f.text_area :response, rows: '5', placeholder: "コメントをここに" %></p>
                    <p><%= f.submit "送信する" %></p>
                  <% end %>
                <% else %>
                  <p>返信するには？→<%= link_to "ログイン" ,new_member_session_path %></p>
                <% end %>
              <div class="text-danger">※誹謗中傷や相手を</br>批判するコメント</br>は控えましょう。</div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class = "back-coler">
            <div class = "text-center">
              <% if @post.image.attached? %>
                <%= image_tag @post.image, size: "400x300" %>
              <% else %>
                <%= image_tag asset_path("no_image.jpg"), size: "400x300" %>
              <% end %>
            </div>
            <div class = "text-right">
              <% if member_signed_in? %>
                <% if @post.favorited_by?(current_member) %>
                  <p>
                    <%= link_to post_favorites_path(@post), method: :delete do %>
                      <%= @post.favorites.count %> いいね<i class="fas fa-thumbs-up"></i>
                    <% end %>
                  </p>
                <% else %>
                  <p>
                    <%= link_to post_favorites_path(@post), method: :post, class:"link-black" do %>
                      <%= @post.favorites.count %> いいね<i class="fas fa-thumbs-up"></i>
                    <% end %>
                  </p>
                <% end %>
              <% else %>
                <%= link_to new_member_session_path, class:"link-black" do %>
                  <%= @post.favorites.count %> いいね<i class="fas fa-thumbs-up"></i>
                <% end %>
              <% end %>
            </div>
            <div>
              <table class="table table-borderless">
                <tr>
                  <th scope="col" style="width: 20%">タイトル</th>
                  <td><%= @post.title %></td>
                </tr>
                <tr>
                  <th>使用機械</th>
                  <td><%= @post.machine %></td>
                </tr>
                <tr>
                  <th>タグ</th>
                  <td>
                    <i class="fas fa-tag"></i><%= link_to @post.tag, search_tag_path(keyword: @post.tag), class:"link-black" %>
                  </td>
                </tr>
                <tr>
                  <th>内容</th>
                  <td><%= @post.introduction %></td>
                </tr>
              </table>
            </div>
            <div>
              <p>コメント件数<i class="fas fa-comments"></i>：<%= @post.replies.count %></p>
              <table class="table table-bordered">
                <% @post.replies.each do |reply| %>
                  <tr>
                    <td class="text-center" class="align-middle" scope="col" style="width: 15%">
                      <%= link_to member_path(reply.member.id) do %>
                        <% if reply.member.profile_image.attached? %>
                          <%= image_tag reply.member.profile_image, size: "40x40" %>
                        <% else %>
                          <%= image_tag asset_path("no_image.jpg"), size: "40x40" %>
                        <% end %>
                      <% end %>
                      </br><%= reply.member.account_name %>
                    </td>
                    <td class="align-middle"><%= reply.response %></td>
                    <td class="align-middle" scope="col" style="width: 20%"><%= reply.created_at.strftime('%Y/%m/%d') %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
